@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
:root {
    --red: #f9032f;
    --black: #000;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: var(--black);
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar_logo{
    color: var(--white);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;   
}

.navbar_link{
    color: var(--white);
    text-decoration: none;
    padding: 0rem 1rem;
}

.navbar_link:hover{
color: var(--red);
}

@media screen and (max-width: 768px) {
    body.active{
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .navbar_link{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar_menu.active{
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: var(--black);
    }
    
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        display: block;
        cursor: pointer;
    }

    #mobile-menu{
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
.hero{
    background: linear-gradient(to right, rgba(0, 0,0 ,0.4), rgba(0,0,0,0.1)),
    url('./images/b1dcf5c-lidaroutput_1.gif');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero__content{
    color: var(--white);
    padding: 3rem 1rem;
    line-height: 1;
}

.hero__content h1{
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero__content p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}

.button {
    padding: 1rem 3rem;
    border: none;
    background: var(--red);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
}

.button2 {
    padding: 1rem 1rem;
    border: none;
    background: var(--red);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background: var(--black);
}

/* Services Section */
.services{
    padding: 8rem calc((100vw - 1200px) /2);
}

.services_container{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    padding: 1rem;
}

.services_img{
    width: 100%;
    height: 100%;
}

.topline{
    color: var(--red);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.services_heading{
    margin-bottom: 1rem;
    font-size: clamp(2rem, 6vw, 3rem);
}

.services_features{
    list-style: none;
}

.services_feature{
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.fa-check-circle{
    margin-right: 0.5rem;
    color: var(--red);
}

@media screen and (max-width: 768px){
    .services_container{
        grid-template-columns: 1fr;
    }
}
/* phase section */
.phase{
    background: var(--black);
    color: var(--white);
    padding: 6rem calc((100vw - 1100px)/2);
    text-align: center;
}

.phase h1{
    margin-bottom: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
    padding: 0 1rem;
}

.phase_desc{
    margin-bottom: 3rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 1rem;
}

.phase_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.phase_card{
    padding: 2rem;
    min-height: 450px;
    width: 325px;
    background: var(--white);
    color: var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phase_info{
    min-height: 150px;
}

.phase_card p{
    margin-bottom: 1rem;
}

.card-icon{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--red);
}

.phase_card h3{
    font-size: clamp(1rem, 5vw, 2rem);
    margin-bottom: 2rem;
}

@media screen and (max-width: 1100px) {
    .phase_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .phase_card{
        width: 90%;
        margin-bottom: 2rem;
    }
}

/* about section */
.about{
    align-items: center;
}

.about_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 350px);
}

.about_card{
    margin: 1rem;
    border-radius: 10px;
    position: relative;
}

.about_text{
    padding: 1rem;
}

.about_text h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.about_desc{
    font-size: clamp(1rem, 3vw, 1.3rem);
    line-height: 1.4;
}

.about_card p{
    position: absolute;
    bottom: 30px;
    color: var(--white);
    left: 25px;
    font-size: 3rem;
}

.about_img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about_text:nth-child(4){
    grid-row: 1 /3;
    grid-column: 2 /3;
}

.about_text:nth-child(2){
    grid-row: 5 /6;
    grid-column: 1 /2;
}

.about_card:nth-child(3){
    grid-row: 1 /3;
    grid-column: 1 /2;
}

.about_card:nth-child(2){
    grid-row: 2 /4;
    grid-column: 2 /3;
}

.about_card:nth-child(5){
    grid-row: 3 /5;
    grid-column: 1 /2;
}

.about_card:nth-child(6){
    grid-row: 4 /6;
    grid-column: 2 /3;
}

@media screen and (max-width: 768px) {
    .about_wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .about_text:nth-child(1){
        grid-row: 1 /2;
        grid-column: 1 /2;
    }
    
    .about_text:nth-child(2){
        grid-row: 7 /7;
        grid-column: 1 /2;
    }
    
    .about_card:nth-child(3){
        grid-row: 3 /4;
        grid-column: 1 /2;
    }
    
    .about_card:nth-child(4){
        grid-row: 4 /5;
        grid-column: 1 /2;
    }
    
    .about_card:nth-child(5){
        grid-row: 5 /6;
        grid-column: 1 /2;
    }
    
    .about_card:nth-child(6){
        grid-row: 2 /3;
        grid-column: 1 /2;
    }

}

.services-container
{
    line-height:1.5em;
}
.services-container
{
    line-height:2em;
}
.intro-body
{
    background-color: #000;
    color:#fff;
    display:flex;
    padding:3em;
}
.intro
{
    margin:2em;
}
.technologies
{
    padding:2em;
}
.technologies table
{
    padding:2em;
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.technologies table img
{
    height:50px;
}
.technologies td, th {
  border: 1px solid #dddddd;
  text-align: left justify;
  padding: 8px;
}
#tech-content
{
    color:#dddddd;
    text-align:right;
    width:40%;
    padding:2em;
    background: linear-gradient(to right, rgba(0, 0,0 ,0.4), rgba(0,0,0,0.1)),
    url('https://sunbeamprods.com/wp-content/uploads/2017/08/futuristic-technology-background-loop-abstract-line-and-polygon-animation-4k-seamless-loop-computer-generated_vdpc3ldcx__F0000.png');
}
.skills
{
    color:#dddddd;
    background: radial-gradient(circle at -8.9% 51.2%, rgb(213, 34, 34) 13%, rgb(157, 80, 7) 15.9%, rgb(242, 255, 0) 15.9%, rgb(5, 194, 93) 24.4%, rgb(6, 15, 54) 24.5%, rgb(0,0,0) 66%);
    text-align:center;
    font-size:20px;
}
.skills h1
{
    color:#f9032f;
    font-size:1.4em;
    padding:1em;
}
.skills hr
{
    color:#dddddd;
    margin:auto;
    width:30%;
}

.gallery img
{
    width:100%;
}

/* footer section */
a:visited { 
    text-decoration: none; 
    color: white; 
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    /* footer to change the size, padding */
    margin:0;
	padding:0;
	box-sizing: border-box;
	background-color: black;
    padding: 50px 0;
    margin-top: 1px;
    margin-left: 80px;
    margin-bottom: -100px;
}
.footer-col{
   width: 25%;
   padding-top: 180px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--white);
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
    /* this is for separation of sections */
	margin-bottom: 5px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 10px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.members{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center
}

.membersIMG{
    width: 50%;
    height: auto;
    padding: 10%;
}
.textAdj-1{
    padding-right: 10%;
}
.textAdj-2{
    padding-left: 10%;
}
.github_logo{
    width: 10%;
}