:root {
    --red: #f9032f;
    --black: #000;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: var(--black);
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar_logo{
    color: var(--white);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;   
}

.navbar_link{
    color: var(--white);
    text-decoration: none;
    padding: 0rem 1rem;
}

.navbar_link:hover{
color: var(--red);
}

@media screen and (max-width: 768px) {
    body.active{
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .navbar_link{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar_menu.active{
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: var(--black);
    }
    
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        display: block;
        cursor: pointer;
    }

    #mobile-menu{
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
.hero{
    background: linear-gradient(to right, rgba(0, 0,0 ,0.4), rgba(0,0,0,0.1)),
    url('./images/b1dcf5c-lidaroutput_1.gif');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero__content{
    color: var(--white);
    padding: 3rem 1rem;
    line-height: 1;
}

.hero__content h1{
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero__content p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}

.button {
    padding: 1rem 3rem;
    border: none;
    background: var(--red);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background: var(--black);
}

/* Services Section */
.services{
    padding: 8rem calc((100vw - 1200px) /2);
}

.services_container{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    padding: 1rem;
}

.services_img{
    width: 100%;
    height: 100%;
}

.topline{
    color: var(--red);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.services_heading{
    margin-bottom: 1rem;
    font-size: clamp(2rem, 6vw, 3rem);
}

.services_features{
    list-style: none;
}

.services_feature{
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.fa-check-circle{
    margin-right: 0.5rem;
    color: var(--red);
}

@media screen and (max-width: 768px){
    .services_container{
        grid-template-columns: 1fr;
    }
}
/* Tier/login section */
.Tier{
    background: var(--black);
    color: var(--white);
    padding: 6rem calc((100vw - 1100px)/2);
    text-align: center;
}

.Tier h1{
    margin-bottom: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
    padding: 0 1rem;
}

.Tier_desc{
    margin-bottom: 3rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 1rem;
}

.Tier_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.Tier_card{
    padding: 2rem;
    min-height: 450px;
    width: 325px;
    background: var(--white);
    color: var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Tier_perks{
    min-height: 150px;
}

.Tier_card p{
    margin-bottom: 1rem;
}

.card-icon{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--red);
}

.Tier_card h3{
    font-size: clamp(1rem, 5vw, 2rem);
    margin-bottom: 2rem;
}

@media screen and (max-width: 1100px) {
    .Tier_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .Tier_card{
        width: 90%;
        margin-bottom: 2rem;
    }
}

/* about section */
.about{
    align-items: center;
}

.about_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 350px);
}

.about_card{
    margin: 1rem;
    border-radius: 10px;
    position: relative;
}

.about_text{
    padding: 1rem;
}

.about_text h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.about_desc{
    font-size: clamp(1rem, 3vw, 1.3rem);
    line-height: 1.4;
}

.about_card p{
    position: absolute;
    bottom: 30px;
    color: var(--white);
    left: 25px;
    font-size: 3rem;
}

.about_img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text_text:nth-child(1){
    grid-row: 1 /3;
    grid-column: 2 /3;
}

.about_text:nth-child(2){
    grid-row: 5 /6;
    grid-column: 1 /2;
}

.about_card:nth-child(3){
    grid-row: 1 /3;
    grid-column: 1 /2;
}

.about_card:nth-child(4){
    grid-row: 2 /4;
    grid-column: 2 /3;
}

.about_card:nth-child(5){
    grid-row: 3 /5;
    grid-column: 1 /2;
}

.about_card:nth-child(6){
    grid-row: 4 /6;
    grid-column: 2 /3;
}

@media screen and (max-width: 768px) {
    .about_wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .text_text:nth-child(1){
        grid-row: 1 /2;
        grid-column: 1 /2;
    }
    
    .about_text:nth-child(2){
        grid-row: 6 /7;
        grid-column: 1 /2;
    }
    
    .about_card:nth-child(3){
        grid-row: 3 /4;
        grid-column: 1 /2;
    }
    
    .about_card:nth-child(4){
        grid-row: 4 /5;
        grid-column: 1 /2;
    }
    
    .about_card:nth-child(5){
        grid-row: 5 /6;
        grid-column: 1 /2;
    }
    
    .about_card:nth-child(6){
        grid-row: 2 /3;
        grid-column: 1 /2;
    }
}

/* email section */